<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PostHTTPSDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A440CC7C1F3BF0240055F864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A440CC951F3BF0240055F864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A440CCA01F3BF0240055F864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
